body {
  max-width: 800px;
  margin: auto;
  padding: 22px;
  background: white;

}

h1 {
  font-family: 'Helvetica Neue';
  font-size: 100px;
  font-weight: 900;
  line-height: 1em;
  color: black;
  text-align: center;
}

p {
  font-family: 'Helvetica Neue';
  font-size: 30px;
  line-height: 2em;
  font-weight: 900;
  color: black;
}
