body {
  max-width: 800px;
  margin: auto;
  padding: 22px;
  background: white;

}

h1 {
  font-family: 'Helvetica Neue';
  font-size: 100px;
  font-weight: 900;
  line-height: 1em;
  color: black;
  text-align: center;
}

p {
  font-family: 'Helvetica Neue';
  font-size: 30px;
  line-height: 2em;
  font-weight: 900;
  color: black;
}

a:link {
  font-family: 'Helvetica Neue';
  color: #4e80d8;
  text-decoration: none;
  font-weight: 500;
  text-align: right;
}

a:visited {
  color: #4e80d8;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: #4e80d8;
  text-decoration: underline;
  font-weight: 500;
}

a:active {
  color: #4e80d8;
  text-decoration: none;
  font-weight: 500;
}
